{% extends template_name %}

{% block content %}

{% extrahead %}
<style>
tr.highlight td {
    background-color: #fff;
    border-top:2px solid #00f;
    border-bottom:2px solid #00f;
}
</style>
<script type="text/javascript">
jQuery(document).ready(function($) {
	
	if( location.hash ) {
		hash = location.hash
		log("Highlight hash:"+hash);
		$(hash).addClass("highlight");		
	}
	
	$("#id_block").change(function() {
        log("block select field changed:" + this.value);
	    slug = this.value;
	    
	    $("#page_content").slideUp();
	    txt = $('#id_block :selected').text();
        $("#page_content").html('<h2 class="noanchor">load "'+ txt +'"...</h2>');
        $("#page_content").slideDown();
	    
	    href = "../" + slug + "/";
	    log("new href:" + href);        
	    window.location.href = href;
    });
});
</script>
{% endextrahead %}

<fieldset><legend>DecodeUnicode</legend>
    <label for="block">select a unicode block:</label>
    <form name="block_select" method="get" action="{% url DecodeUnicode-index %}">
    	{% csrf_token %}
    	{{ select_block_form }}
        <input value="{% trans "display" %}" type="submit">
    </form>
    <form name="block_select" method="post" action="{% url DecodeUnicode-search %}">
    	{% csrf_token %}
    	{{ search_form }}
        <input value="{% trans "search" %}" type="submit">
    </form>
    
</fieldset>

<fieldset><legend>{{ range_hex1 }}-{{ range_hex2 }} - {{ block_name }}:</legend>

{% include "DecodeUnicode/includes/links.html" %}

<table style="width: 100%">
    <tr>
        <th>no</th>
        <th>char</th>
        <th>pic</th>
        <th>unicode</th>
        <th>hex</th>
        <th>html</th>
        <th>unicode name</th>
    </tr>
    {% for row in char_list %}
    <tr class="{% cycle 'odd' 'even' %}" id="char_{{ row.id }}" name="char_{{ row.id }}">
    	<td>
    		<a name="{{ row.id }}"></a>
            <a href="#{{ row.id }}" title="anchor to '{{ row.html|safe }}' ({{ row.name }})">#</a>
            <a href="http://www.decodeunicode.org/u+{{ row.unicode_number }}" title="Link to this char at decodeunicode.org"><small>{{ row.id }}</small></a>
		</td>
        <td style="text-align:center;"><strong>{{ row.char }}</strong></td>
        <td>
            <a href="http://www.decodeunicode.org/data/glyph/196x196/{{ row.unicode_number }}.gif" title="Bigger pic from decodeunicode.org">
            <img src="http://www.decodeunicode.org/data/glyph/26x26/{{ row.unicode_number }}.gif" border="0">
            </a>
        </td>
        <td title="Use in Python like this: &#x22D9;print u'{{ row.unicode }}'&#x22D8;"><small>{{ row.unicode }}</small></td>
        <td title="Use in Python like this: &#x22D9;print '{{ row.hex }}'&#x22D8;"><small>{{ row.hex }}</small></td>
        <td title="copy&paste into your html code ;)"><small>{{ row.html|escape }}</small></td>
		{% if row.name %}
        <td title="Use in Python like this: &#x22D9;print u'\N&#x7B;{{ row.name }}&#x7D;'&#x22D8;">
            \N&#x7B;<var>{{ row.name }}</var>&#x7D;
        </td>
		{% else %}
		  <td><i>{% trans "has no unicode name" %}</i></a></td>
		{% endif %}
    </tr>
    {% endfor %}
</table>

{% include "DecodeUnicode/includes/links.html" %}

<h3 class="noanchor">&#x22D9; Python usage info: &#x22D8;</h3>
<table>
    <tr><td><strong>unicode name</strong></td><td><code>print u'\N{LATIN SMALL LETTER X}'</code></td></tr>
    <tr><td><strong>unicode number</strong></td><td><code>print u'\u0078'</code></td></tr>
    <tr><td><strong>hex</strong></td><td><code>print '\x78'</code></td></tr>
</table>
<p id="unidata_version" style="text-align:right;">
	<small>(Used Unicode database v{{ unidata_version }})</small><br />
	<a href="https://github.com/jedie/PyLucid-DecodeUnicode-plugin">DecodeUnicode GitHub Project page</a>
</p>
</fieldset>
{% endblock content %}